.socialList {
    display: flex;
    border: 1px solid #1c1c21;
    border-radius: 100px;
    padding: 10px;
    gap: 16px;
}

.socialItem {
    border-radius: 100px;
    padding: 14px;
    background-color: #1c1c21;
}

@media (max-width: 1200px) {
    .about__socialItem {
        padding: 0;
    }
}
